<template name="guidesView">
	<div class="container-fluid guides">
		<div class="container">
			<h1>Провідники</h1>
			<small>Люди, які люблять гори та з радістю допоможуть Вам пройти бажаний похід без складнощів</small>
		</div>
		</div>

		<div class="container guides-content">
			<div class="row">
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="/images/45.png" alt="photo">
			      <div class="caption">
			        <h3>Сьома Котовський</h3>
			        <p>Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения модели развития.</p>
			        <h4>email: cat@gmail.com</h4>
			      </div>
			    </div>
			  </div>
			   <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="/images/5.png" alt="photo">
			      <div class="caption">
			        <h3>Сергій Шаріков</h3>
			        <p>Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения модели развития.</p>
			        <h4>email: sharikov@gmail.com</h4>
			      </div>
			    </div>
			  </div>
			   <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="/images/14.png" alt="photo">
			      <div class="caption">
			        <h3>Олесь Рогатинський</h3>
			        <p>Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения модели развития.</p>
			        <h4>email: rogatynsky@gmail.com</h4>
			      </div>
			    </div>
			  </div>
			
			
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="/images/15.png" alt="photo">
			      <div class="caption">
			        <h3>Саймон Пінгві</h3>
			        <p>Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения модели развития.</p>
			        <h4>email: pingvi@gmail.com</h4>
			      </div>
			    </div>
			  </div>
			   <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="/images/8.png" alt="photo">
			      <div class="caption">
			        <h3>Марічка Блонд</h3>
			        <p>Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения модели развития.</p>
			        <h4>email: blondy@gmail.com</h4>
			      </div>
			    </div>
			  </div>
			   <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="/images/2.png" alt="photo">
			      <div class="caption">
			        <h3>Пандор Чорний</h3>
			        <p>Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения модели развития.</p>
			        <h4>email: pandy@gmail.com</h4>
			      </div>
			    </div>
			  </div>
			
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="/images/1.png" alt="photo">
			      <div class="caption">
			        <h3>Ральф Єнотов</h3>
			        <p>Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения модели развития.</p>
			        <h4>email: ralf@gmail.com</h4>
			      </div>
			    </div>
			  </div>
			   <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="/images/11.png" alt="photo">
			      <div class="caption">
			        <h3>Артем Зорьков</h3>
			        <p>Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения модели развития.</p>
			        <h4>email: tema@gmail.com</h4>
			      </div>
			    </div>
			  </div>
			   <div class="col-sm-6 col-md-4">
				<div class="thumbnail">
			      <img src="/images/33.png" alt="photo">
			      <div class="caption">
			        <h3>Шуня Яблуков</h3>
			        <p>Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения модели развития.</p>
			        <h4>email: shuny@gmail.com</h4>
			      </div>
			    </div>
			</div>
		</div>
		</div>
	<footer class="container-fluid">
		<div class="footer-content row">
        <h6>Design by <a href="http://kaminechny.com/">Kaminechny Roman</a><br>Web-development by <a href="https://ua.linkedin.com/in/yanul" target="_blank
            ">Maryna Yanul</a></h6>
    	</div>
    </footer>
</template>