<template name="notFound">
  <div class="jumbotron page404">
      <h1>404 - Сторінка не знайдена</h1>
  	<h3>Упс! Натисніть <a href="{{pathFor 'hikeslistView'}}">сюди</a> для переходу <br>на сторінку пошуку походів <br><small>Гарного відпочинку <i class="fa fa-heart"></i></small></h3>
  </div>
    <div class="fullscreen-bg">
        <video loop muted autoplay poster="images/videoframe.jpg" class="fullscreen-bg__video">
            <source src="video/404.webm" type="video/webm">
        </video>
    </div>
</template>
